@model DataAccess.Model.Car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfManufacture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfManufacture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnginePower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnginePower)
        </dd>
        <dt>
            Řidič
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentDriver.NameSurname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
